{% extends "partials/conteneur.html" %}

{% block body %}





    <div class="container">
        <h1>Bienvenue sur l'application du Factbook!</h1>
        <p>Voici le lien vers le site officiel : <a
                href="https://www.cia.gov/the-world-factbook/">https://www.cia.gov/the-world-factbook/</a></p>
    

        <h2>Données sur les éoliennes en France</h2>
        <style type="text/css">
            .tftable {
                font-size: 12px;
                color: #333333;
                width: 100%;
                border-width: 1px;
                border-color: #729ea5;
                border-collapse: collapse;
            }
    
            .tftable th {
                font-size: 12px;
                background-color: #acc8cc;
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #729ea5;
                text-align: left;
            }
    
            .tftable tr {
                background-color: #d4e3e5;
            }
    
            .tftable td {
                font-size: 12px;
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #729ea5;
            }
    
            .tftable tr:hover {
                background-color: #ffffff;
            }
        </style>
    
        <table class="tftable" border="1">
            <tr>
                <th>ID_Parc</th>
                <th>Nom_Région</th>
                <th>Nom_Département</th>
                <th>Code_Département</th>
                <th>Nom_Commune</th>
                <th>Nom_EPCI_en_charge</th>
                <th>Date_données</th>
                <th>Longitude</th>
                <th>Lattitude</th>
                
            </tr>
    
    
            <tbody>{% for region in datas_eol %}
                <tr>
                    <td>
                      <a href="/parcs/{{ region['recordid']}}">{{ region["recordid"] }}</a>
                    </td>
    
                    <td>
                        {{ region["fields"]["nom_reg"] }}
                    </td>
                    <td>
                        {{ region["fields"]["nom_dept"] }}
                    </td>
                    <td>
                        {{ region["fields"]["dep"] }}
                    </td>
                    <td>
                        {{ region["fields"]["f_commune_pdl"] }}
                    </td>
                    <td>
                        {{ region["fields"]["libepci"] }}
                    </td>
                    <td>
                        {{ region["fields"]["date_des_donnees"] }}
                    </td>
                    <td>
                        {{ region["fields"]["coordonnees"][0] }}
                    </td>
                    <td>
                        {{ region["fields"]["coordonnees"][1] }}
                    </td>
                </tr>{% endfor %}
            </tbody>
        </table>
    
    </div>
  
  
{% endblock %}