

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
    
    <h1>Aïe ! Erreur 503 (Le service est [temporairement] inaccessible), vous feriez mieux de <a href="{{ url_for('pays') }}">retourner à l'accueil</a>, voici un joli vase Grec pour la peine !</h1>

<img alt ="404" src="{{ url_for('static', filename='/img/vase3.jpg') }}" width="500"/> 

    
</body>
</html>