<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Liste des données sur les villes et les pays</h1>
    <div>
    
    {%if nom_ville%}
        <ul>
            <!-- {%for ville in nom_ville%} -->
            <li>{{ville}}</li>
            <!-- {%endfor%} -->
        </ul>
        {%else%}
        <p>Il n'y a pas de ville avec le nom renseigné</p>
    {%endif%}
    </div>
</body>
</html>

